
<h1>Eat-Da-Burger!</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row panel-row">
<!-- Panel 1: holds the word to that is being guessed. -->
        <div class="col-md-6">
            <h3>Burgers Not Eaten!</h3>
            <ul>
              {{#each burgers}}
                {{#unless notEaten}}
                  {{> burgers/burger-block devoured=false}}
                {{/unless}}
              {{/each}}
            </ul>
        </div>

<!-- Panel 2: holds the devoured burgers. -->
        <div class="col-md-6">
           <h3>Burgers Eaten!</h3>
            <ul>
              {{#each burgers}}
                {{#if eaten}}
                  {{> burgers/burger-block devoured=true}}
                {{/if}}
              {{/each}}
            </ul>
        </div>
    </div>
    </div>
</div>
</div>


<form class="create-form">

  <div class="form-group">
    <label for="ca">Add a New Burger:</label>
    <input type="text" id="ca" name="name">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
