body {
    font: 400 15px Lato, sans-serif;
    background-color: whitesmoke;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: black;
}

img {
    width: 350px;
    height: 300px;
}

hr {
    height: 5px;
    color: rgb(219, 219, 42);
    background-color: rgb(219, 219, 42);
}

h1, h2, h3, h4 {
    font: Lato, sans-serif;
}

p {
    font-size: 20px;
    font: 400 20px Lato, sans-serif;
}

.btn.btn-primary {
    width: 100px;
    color: darkslategray;
    background-color: rgb(219, 219, 42);
    font: 400 14px Lato, sans-serif;
}

.change-devour {
    width: 100px;
    color: darkslategray;
    background-color: rgb(219, 219, 42);
    font: 400 12px Lato, sans-serif;
}

#form {
    text-align: center;
}

#top {
    margin-top: 10px;
    text-align: center;
    
}

#not-eaten {
   text-align: center;
   font: 400 20px Lato, sans-serif;
   
}

#eaten {
    text-align: center;
    font: 400 20px Lato, sans-serif;
    
}
