body {
    font: 400 15px Lato, sans-serif;
    background-color: rgb(219, 219, 42);
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: black;
}

h1, h2, h3, h4 {
    font: 400 15px Lato, sans-serif;
}

p {
    font-size: 20px;
    font: 400 15px Lato, sans-serif;
}

.btn.btn-primary {
    width: 100px;
    color: darkslategray;
    background-color: aquamarine;
    font: 400 14px Lato, sans-serif;
}

.change-devour {
    width: 100px;
    color: darkslategray;
    background-color: aquamarine;
    font: 400 12px Lato, sans-serif;
}

.container-form {
    text-align: center;
}

.container-top {
    text-align: center;
}

#eaten {
    background-color: white;
    margin: 10px;
}

#not-eaten {
    background-color: white;
    margin: 10px;
}