<tr>
	<td>
	{{burger_name}}
	</td>
	<td>
	<button class="btn btn-primary" id="eat-me" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}{{else}}Eat Me!{{/if}}
	</button>
	</td>
</tr>
